<%= stylesheet_link_tag  'custom/rdetail', media: 'all', 'data-turbolinks-track': 'reload' %>

<section>
  <div class="container">
      <div class="row">
          <div class="header">
            <h1>식 당 상 세 정 보</h1>
          </div>
          <div class="col-lg-6">
            <div class="img-box col-lg-3 col-lg-offset-3">
              <img src="<%= @detailInfo.img_url %>" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <dl class="restaurant-info">
              <dt>상호: <%= @detailInfo.name %></dt>
              <dd>주소: <%= @detailInfo.location %></dd>
              <dd>영업시간: <%= @detailInfo.business_hours %></dd>
              <dd>연락처: <%= @detailInfo.phone %></dd>
              <!--dd><!--%= @detailInfo.between_price_min %> ~ <!--%= @detailInfo.between_price_max %></dd-->
            </dl>
          </div>
      </div>
      <div class="row">
        <h2>메 뉴 정 보</h2>
        <div class="menu_info col-lg-10 col-lg-offset-2">
          <ul class="menu-lists">
            <% @menus.each do |m| %>
              <li class="col-lg-6"><h3><%=  m.name %></h3><p><%=  m.price %>원</p></li>
            <% end %>
          </ul>
        </div>
      </div>
</section>
